body {
    font-family: Helvetica, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #000000;
}
h1 {
    color: #333;
}
.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin: 20px 0;
    padding: 20px;
}
.card h3 {
    margin-top: 0;
}
.card p {
    margin: 10px 0;
}
.cardExample {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin: 0 0 0 20px;
    padding: 20px;
    display: inline-block;
    font-family: monospace;
    font-weight: 600;
}
.btn-detail {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
}
.severity-leve {
    color: green;
}
.severity-moderado {
    color: orange;
}
.severity-grave {
    color: red;
}
.rule-detail {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background: #f1f1f1;
}
.rule h3 {
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 300;
    margin-bottom: 0;
    align-items: center;
}
.rule-detail p {
    padding: 0 18px;
    font-size: 15px;
}
.rule p {
    margin: 5px;
}
.show {
    max-height: 500px;
}
img {
    width: 20px;
    height: 20px;
}
.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex {
    display: flex;
    align-items: center;
}
hr {
    color:#333;
}
.btn {
cursor: pointer;
letter-spacing: 2px;
text-transform: uppercase;
font-size: 12px;
width: 150px;
min-width: 95px;
height: 35px;
position: relative;
border: solid #1f1f1f 2px;
color: #1f1f1f;
z-index: 1;
transition: all 0.5s ease-in-out;
border-radius: 5px;
overflow: hidden;
background-color: transparent;
margin-bottom: 5px;
}

.btn:before {
content: "";
position: absolute;
left: 50%;
top: 0;
height: 100%;
width: 0%;
background: #777;
border-radius: 23px;
transition: all 0.5s ease-in-out;
z-index: -1;
}

.btn:hover:before {
width: 120%;
left: -10%;
}

.btn:hover {
color: #f1f1f1;
border-color: #777;
}

span {
    justify-content: center;
    height: 100%;
}
